/* base layout */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
}

.form {
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow-1);
}

.header {
  align-self: center;
  width: 35vw;
  color: white;
}

.header > h1 {
  margin-bottom: 30px;
}

.header > p {
  font-weight: 500;
  font-size: 18px;
}
